langchain
python-dotenv
unstructured
markdown
langchain-openai
langchain-community
langchain-core
bs4
faiss-cpu
pypdf
arxiv
pymupdf
wikipedia
lxml
langchain_huggingface
langchain-groq
langgraph
langgraph-cli[inmem]